---
friends: [
    { nick: "bomber", name: "Jan Orna", url: "http://www.bomberoza.net", role: "founder &amp; leader" },
    { nick: "nula", name: "Vojta Nedved", url: "http://nooly.marshals.cz", role: "organizer, musician", avatar: "http://www.pouet.net/avatars/rns.gif" },
    { nick: "raist", name: "Petr Stastny", url: "http://www.raist.cz", role: "all hands person", avatar: "http://www.pouet.net/avatars/pravatar.gif" },
    { nick: "woid", name: "Antonin Hildebrand", url: "http://hildebrand.cz", role: "coder", avatar: "http://www.pouet.net/avatars/pacman.gif" },
    { nick: "jezeq", name: "Ondrej Jamriska", role: "coder" },
    { nick: "isobel", name: "Yann Desjardins", url: "http://www.iso-dezign.com", role: "graphician, demopaja", avatar: "http://www.pouet.net/avatars/cubos.gif" },
    { nick: "zone", name: "Ondrej Jamriska", url: "http://www.lezone.fr.st", role: "graphician, demopaja", avatar: "http://www.pouet.net/avatars/cubos.gif" },
    { nick: "domotor", name: "Rudolf Stefek", url: "http://www.raist.cz", role: "graphician", avatar: "http://www.pouet.net/avatars/3dsmax4.gif" },
    { nick: "ace", name: "Jakub Cihal", url: "http://www.3dgrafika.cz/index.php3?a=galerie&gal=0&name=Ace", role: "graphician", avatar: "http://www.pouet.net/avatars/hemp.gif" },
    { nick: "santik", name: "Jiri Gruz", url: "http://santik.wz.cz", role: "musician" },
    { nick: "fob", name: "Petr Stefek", role: "graphician" },
    { nick: "rayzn", name: "Ivan Rasin", role: "coder", avatar: "http://www.pouet.net/avatars/domo.gif" },
    { nick: "foggy", name: "Petr Myšák", role: "graphician" }
]
products: [
    { date: "1999-02-01 00:00:00", title: "Welcometro -amiga-", desc: "intro/borntro - unreleased.<br>code: |lazy jones / vertical|<br>gfx: |bumper|<br>msx: piper", thumb: "welc.png", url: "http://www.marshals.cz/dwn/welcometro.exe" },
    { date: "1999-10-01 00:00:00", title: "Dya Wanna Krack - amiga-", desc: "64kb intro - unreleased.<br>code: webster<br>gfx: |bumper| + webster<br>msx: piper", thumb: "krack.png", url: "http://www.marshals.cz/dwn/dyawannakrack.lha" },
    { date: "1999-08-01 00:00:00", title: "Simple", desc: "4kb intro - finished 7/7 at the |Fiasko| 99 demoparty (Czech Republic 1999).<br>code: mip", thumb: "simpl.png", url: "ftp://ftp.scene.org/pub/parties/1999/fiasko99/in4k/simple.zip" },
    { date: "1999-08-01 00:00:00", title: "Dug Hole", desc: "256b intro - finished 3/12 at the |Fiasko| 99 demoparty (Czech Republic 1999).<br>code: mip", thumb: "dugh.png", url: "ftp://ftp.scene.org/pub/parties/1999/fiasko99/256b/dughole.zip" },
    { date: "1999-08-01 00:00:00", title: "Jul Egg", desc: "256b intro - finished 4/12 at the |Fiasko| 99 demoparty (Czech Republic 1999).<br>code: mip", thumb: "jule.png", url: "ftp://ftp.scene.org/pub/parties/1999/fiasko99/256b/julegg.zip" },
    { date: "1999-11-01 00:00:00", title: "Acid Race", desc: "4ch module - finished 2/7 at the |Apocalypse| 99 demoparty (Czech Republic 1999).<br>msx: piper", thumb: "music01.png", url: "http://www.marshals.cz/dwn/acidrace.zip" },
    { date: "1999-11-01 00:00:00", title: "Uv Light", desc: "mch module - finished 5/6 at the |Apocalypse| 99 demoparty (Czech Republic 1999).<br>msx: piper", thumb: "music02.png", url: "http://www.marshals.cz/dwn/uvlight.zip" },
    { date: "2000-04-15 00:00:00", title: "Besidka", desc: "slideshow - presented after 1st Marshals internal meeting codename \"Besidka\"<br>(Czech Republic 2000).<br>code: |woid|<br>gfx: |bumper| + |slik|<br>msx: piper", thumb: "besid.png", link: "http://www.pouet.net/prod.php?which=2203", url: "http://www.marshals.cz/dwn/besidka.zip" },
    { date: "2000-05-01 00:00:00", title: "Romantiq", desc: "4ch module - finished 6/9 at the |Apocalypse| 2k demoparty (Czech Republic 2000).<br>msx: pep", thumb: "music03.png", url: "http://www.marshals.cz/dwn/romantiq.zip" },
    { date: "2000-05-01 00:00:00", title: "After Rain", desc: "mch module - finished 8/14 at the |Apocalypse| 2k demoparty (Czech Republic 2000).<br>msx: pep", thumb: "music04.png", url: "http://www.marshals.cz/dwn/afterrain.zip" },
    { date: "2000-05-01 00:00:00", title: "Boat In Water", desc: "2d picture - finished 3/12 at the |Apocalypse| 2k demoparty (Czech Republic 2000).<br>gfx: |drd|", thumb: "picture02.png", url: "http://www.marshals.cz/dwn/boatinwater.zip" },
    { date: "2000-05-01 00:00:00", title: "Meeting Besidka", desc: "2d picture - finished 10/12 at the |Apocalypse| 2k demoparty (Czech Republic 2000).<br>gfx: |bumper|", thumb: "picture04.png", url: "http://www.marshals.cz/dwn/mbesidka.zip" },
    { date: "2000-05-01 00:00:00", title: "Pharmacy", desc: "raytrace picture - finished 4/11 at the |Apocalypse| 2k demoparty (Czech Republic 2000).<br>gfx: |jupiter|", thumb: "picture03.png", url: "http://www.marshals.cz/dwn/pharmacy.zip" },
    { date: "2000-08-19 00:00:00", title: "Genetic", desc: "64kb intro - finished 3/10 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>code: |hebx2| / velocity<br>gfx: |raist|<br>msx: |raist|", thumb: "genet.png", link: "http://www.pouet.net/prod.php?which=253", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/in64/genetic.zip" },
    { date: "2000-08-19 00:00:00", title: "Hellpoint", desc: "module - finished 1/36 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>msx: pep", thumb: "music05.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/mmul/hellpoin.zip" },
    { date: "2000-08-19 00:00:00", title: "More Than One", desc: "module - finished 12/36 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>msx: |raist|", thumb: "music06.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/mmul/r_mto.zip" },
    { date: "2000-08-19 00:00:00", title: "The Best Place On Earth", desc: "raytrace picture - finished 1/14 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |jupiter|", thumb: "picture02.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grtc/best.zip" },
    { date: "2000-08-19 00:00:00", title: "Evil", desc: "pixeled picture - finished 6/17 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |bumper|", thumb: "picture01.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grfx/evil.zip" },
    { date: "2000-08-19 00:00:00", title: "Sun Tree", desc: "pixeled picture - finished 7/17 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |drd|", thumb: "picture06.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grfx/drd-sunt.zip" },
    { date: "2000-08-19 00:00:00", title: "Vobloha", desc: "pixeled picture - finished 8/17 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: havl", thumb: "picture05.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grfx/vobloha.zip" },
    { date: "2000-08-19 00:00:00", title: "Vengeance", desc: "32kb module - finished 4/10 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>msx: pep", thumb: "music03.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/m32k/vengean.zip" },
    { date: "2000-08-19 00:00:00", title: "Vosajev Death", desc: "wild picture - finished 1/14 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |raist|", thumb: "picture03.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grwl/vosajev.zip" },
    { date: "2000-08-19 00:00:00", title: "Floweret", desc: "wild picture - finished 4/14 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |bumper|", thumb: "picture01.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grwl/floweret.zip" },
    { date: "2000-08-19 00:00:00", title: "I Am Fiasko", desc: "wild picture - finished 5/14 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |oweron|", thumb: "picture02.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grwl/iamfiask.zip" },
    { date: "2000-08-19 00:00:00", title: "Trip", desc: "wild picture - finished 8/14 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |slik|", thumb: "picture06.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/grwl/trip.zip" },
    { date: "2000-08-19 00:00:00", title: "Jsem Prilis Sexy", desc: "wild (picture) - finished 3/11 at the |Fiasko| 2k demoparty (Czech Republic 2000).<br>gfx: |woid|", thumb: "other01.png", url: "ftp://ftp.scene.org/pub/parties/2000/fiasko00/wild/sexy.zip" },
    { date: "2000-09-10 00:00:00", title: "Dzihad -amiga-", desc: "slideshow - presented after 2nd Marshals internal meeting codename \"Dzihad\"<br>(Czech Republic 2000).<br>code: andrew<br>gfx: |raist| + max<br>msx: |slik| + |bomber| + |raist|", thumb: "dzih.png", link: "http://www.pouet.net/prod.php?which=2202", url: "http://www.marshals.cz/dwn/dzihad.lha" },
    { date: "2001-03-31 00:00:00", title: "Foton", desc: "musicdisk - presented after 3rd Marshals internal meeting codename \"Format\"<br>(Czech Republic 2001).<br>code: |woid|<br>gfx: |raist|<br>msx: |nula| + |raist| + piper", thumb: "foton.png", link: "http://www.pouet.net/prod.php?which=1824", url: "http://www.marshals.cz/dwn/foton.zip" },
    { date: "2001-05-06 00:00:00", title: "Kubik", desc: "demo - finished 2/4 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>code: |woid|<br>gfx+dsg: |raist|<br>msx: |nula| + |raist|<br>demopaja: |memon| / |moppi|", thumb: "kubik.png", link: "http://www.pouet.net/prod.php?which=2067", url: "ftp://ftp.scene.org/pub/parties/2001/fiasko01/demo/mrs_kubik.zip" },
    { date: "2001-05-06 00:00:00", title: "Raving Mad\"s Waltz", desc: "music - finished 4/12 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>msx: |breakthru|", thumb: "music01.png", url: "ftp://ftp.scene.org/pub/parties/2001/fiasko01/music/raving.zip" },
    { date: "2001-05-06 00:00:00", title: "Osm", desc: "music - finished 11/12 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>msx: |nula|", thumb: "music04.png", url: "ftp://ftp.scene.org/pub/parties/2001/fiasko01/music/8.zip" },
    { date: "2001-05-06 00:00:00", title: "Granularity", desc: "module - finished 1/11 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>msx: |nula|", thumb: "music02.png", url: "ftp://ftp.scene.org/pub/parties/2001/fiasko01/mmul/granular.zip" },
    { date: "2001-05-06 00:00:00", title: "Wangalue", desc: "module - finished 2/11 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>msx: pep", thumb: "music06.png" },
    { date: "2001-05-06 00:00:00", title: "Checksum Error 2", desc: "module - finished 7/11 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>msx: |breakthru|", thumb: "music05.png", url: "ftp://ftp.scene.org/pub/parties/2001/fiasko01/mmul/check.zip" },
    { date: "2001-05-06 00:00:00", title: "Wave Mania", desc: "chiptune - finished 1/11 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>msx: |nula|", thumb: "music02.png", url: "ftp://ftp.scene.org/pub/parties/2001/fiasko01/chip/waveman.zip" },
    { date: "2001-05-06 00:00:00", title: "Ox Eye", desc: "wild picture - finished 1/3 at the |Fiasko| 01 demoparty (Czech Republic 2001).<br>gfx: |bumper|", thumb: "picture02.png", url: "ftp://ftp.scene.org/pub/parties/2001/fiasko01/grwl/ox-eye.zip" },
    { date: "2001-08-05 00:00:00", title: "Lose Face", desc: "picture - finished 1/8 at the |Syndeecate| 2001 demoparty (Czech Republic 2001).<br>gfx: |bumper|", thumb: "picture04.png", url: "ftp://ftp.scene.org/pub/parties/2001/syndeecate01/grfx/picture/lose-fc.zip" },
    { date: "2001-08-05 00:00:00", title: "Autumn King", desc: "picture - finished 3/8 at the |Syndeecate| 2001 demoparty (Czech Republic 2001).<br>gfx: |raist|", thumb: "picture03.png", url: "ftp://ftp.scene.org/pub/parties/2001/syndeecate01/grfx/picture/autumn.zip" },
    { date: "2001-08-05 00:00:00", title: "Veverka Nadorka Taky Nema Demo", desc: "pixeled picture - finished 3/7 at the |Syndeecate| 2001 demoparty (Czech Republic 2001).<br>gfx: |raist|", thumb: "picture05.png", url: "ftp://ftp.scene.org/pub/parties/2001/syndeecate01/grfx/pixeled/wr_vev.zip" },
    { date: "2001-08-05 00:00:00", title: "A Travers Les Nuages", desc: "music - finished 3/6 at the |Syndeecate| 2001 demoparty (Czech Republic 2001).<br>msx: |breakthru|", thumb: "music05.png", url: "ftp://ftp.scene.org/pub/parties/2001/syndeecate01/music/brk_nuav2.zip" },
    { date: "2001-08-05 00:00:00", title: "Greisky", desc: "module - finished 2/6 at the |Syndeecate| 2001 demoparty (Czech Republic 2001).<br>msx: |breakthru|", thumb: "music06.png", url: "ftp://ftp.scene.org/pub/parties/2001/syndeecate01/mmul/brk_gsk.zip" },
    { date: "2001-08-05 00:00:00", title: "Zzap", desc: "chiptune - finished 1/2 at the |Syndeecate| 2001 demoparty (Czech Republic 2001).<br>msx: |nula|", thumb: "music01.png", url: "ftp://ftp.scene.org/pub/parties/2001/syndeecate01/chip/zzap.zip" },
    { date: "2001-10-28 00:00:00", title: "Orange Comes", desc: "demo - finished 2/6 at the |JFFC| 2 demoparty (France 2001).<br>code: |woid|<br>gfx: |zone| + |raist|<br>dsg: |zone|<br>msx: |nula| + |raist|<br>demopaja: |memon| / |moppi|", thumb: "orang.png", link: "http://www.pouet.net/prod.php?which=4011", url: "ftp://ftp.scene.org/pub/parties/2001/jff-convention2/demo/mrs-orangecomes.zip" },
    { date: "2001-11-18 00:00:00", title: "Demopunk", desc: "demo - finished 5/13 at the |Coma| 3 demoparty (Canada 2001).<br>code: |woid|<br>gfx: |raist| + |bill|<br>dsg: |raist|<br>msx: |breakthru|<br>demopaja: |memon| / |moppi|", thumb: "demop.png", link: "http://www.pouet.net/prod.php?which=4348", url: "ftp://ftp.scene.org/pub/parties/2001/coma3/demo/demopunk.zip" },
    { date: "2001-11-18 00:00:00", title: "Plague Warped Dime", desc: "music - finished 5/11 at the |Coma| 3 demoparty (Canada 2001).<br>msx: |game over|", thumb: "music04.png", url: "http://www.marshals.cz/dwn/go_plague.zip" },
    { date: "2001-11-18 00:00:00", title: "J6", desc: "picture - finished 7/9 at the |Coma| 3 demoparty (Canada 2001).<br>gfx: |bill|", thumb: "picture06.png", url: "http://www.marshals.cz/dwn/bill_j6.jpg" },
    { date: "2001-12-12 00:00:00", title: "Cracker", desc: "64kb intro - finished 1/2 at the |Demobit| 01 demoparty (Slovakia 2001).<br>code: |jezeq|<br>gfx: |raist|<br>msx: |nula|", thumb: "crac.png", link: "http://www.pouet.net/prod.php?which=4845", url: "http://www.marshals.cz/dwn/mrs-cracker.zip" },
    { date: "2001-12-12 00:00:00", title: "Difficult Life", desc: "32kb module - finished 3/6 at the |Demobit| 01 demoparty (Slovakia 2001).<br>msx: |nula|", thumb: "music03.png", url: "ftp://ftp.scene.org/pub/parties/2001/demobit01/chip/dlife.zip" },
    { date: "2002-03-01 00:00:00", title: "Passenger 1337", desc: "demo - finished 7/11 at the |Synthesis| 2002 demoparty (France 2002).<br>code: |woid|<br>gfx: |zone| + |raist|<br>dsg: |zone|<br>msx: |unison| + |nula|<br>demopaja: |memon| / |moppi|", thumb: "pass.png", link: "http://www.pouet.net/prod.php?which=5341", url: "ftp://ftp.scene.org/pub/parties/2002/synthesis02/demo/mrs_passenger1337.zip" },
    { date: "2002-07-07 00:00:00", title: "Piece of", desc: "demo - finished 4/10 at the |VIP| 4 demoparty (France 2002).<br>code: |woid|<br>gfx: |zone| + |isobel|<br>dsg: |zone|<br>msx: |ultranikki|<br>demopaja: |memon| / |moppi|", thumb: "pieof.png", link: "http://www.pouet.net/prod.php?which=6857", url: "ftp://ftp.scene.org/pub/parties/2002/vip4/demo/marshals_and_mooncast_-_piece_of_-finalversion-.zip" },
    { date: "2002-08-19 00:00:00", title: "Therapy", desc: "demo - finished 9/11 at the |Syndeecate| 2002 demoparty (Czech Republic 2002).<br>code: |woid|<br>gfx+dsg: |raist|<br>msx: |raist|<br>demopaja: |memon| / |moppi|", thumb: "therap.png", link: "http://www.pouet.net/prod.php?which=7396", url: "ftp://ftp.scene.org/pub/parties/2002/syndeecate_apocalypse02/demo/sa02-demo-therapy.zip" },
    { date: "2002-12-15 00:00:00", title: "Spleen", desc: "demo - finished 12/14 at the |SOA| 2k2 demoparty (France 2002).<br>code: |woid|<br>gfx+dsg: |zone|<br>msx: |breakthru|<br>demopaja: |memon| / |moppi|", thumb: "spleen.png", link: "http://www.pouet.net/prod.php?which=8286", url: "ftp://ftp.scene.org/pub/parties/2002/sota02/demo/mrs_spleen.zip" },
    { date: "2003-03-16 00:00:00", title: "El Bourrrinos", desc: "demo - finished 1/3 at the |Synthesis| 3 demoparty (France 2003).<br>code: |woid|<br>gfx+dsg: |zone| + |isobel| + |yannus stark|<br>msx: |celsius|<br>demopaja: |memon| / |moppi|", thumb: "elbour.png", link: "http://www.pouet.net/prod.php?which=9048", url: "ftp://ftp.scene.org/pub/parties/2003/synthesis03/demo/mrs-elb.zip" },
    { date: "2003-03-16 00:00:00", title: "Wurstfachverkaeuferin", desc: "2d oldschool picture - finished 6/6 at the |Synthesis| 3 demoparty (France 2003).<br>gfx: |robotriot|", thumb: "picture01.png", url: "ftp://ftp.scene.org/pub/parties/2003/synthesis03/grfx/oldskool/robotriot_wurstfachverkaeuferin.zip" },
    { date: "2003-03-16 00:00:00", title: "Ketagen On Hunt", desc: "raytrace picture - finished 3/4 at the |Synthesis| 3 demoparty (France 2003).<br>gfx: |ace|", thumb: "picture03.png", url: "ftp://ftp.scene.org/pub/parties/2003/synthesis03/grtc/ace_ketagen_on_hunt.zip" },
    { date: "2003-03-16 00:00:00", title: "Chicago", desc: "module - finished 4/5 at the |Synthesis| 3 demoparty (France 2003).<br>msx: |game over|", thumb: "music01.png", url: "ftp://ftp.scene.org/pub/parties/2003/synthesis03/mmul/chicago.zip" },
    { date: "2003-03-16 00:00:00", title: "Bomber's Revenge", desc: "chiptune - finished 3/5 at the |Synthesis| 3 demoparty (France 2003).<br>msx: |nula|", thumb: "music06.png", url: "ftp://ftp.scene.org/pub/parties/2003/synthesis03/chip/br.zip" },
    { date: "2003-05-09 00:00:00", title: "Syndeecate 2003 Invitation", desc: "demo - invitation for the |Syndeecate| 2003 demoparty (Czech Republic 2003).<br>code: |woid|<br>gfx+dsg: |raist|<br>msx: |game over|<br>demopaja: |memon| / |moppi|", thumb: "sdc-invit.png", link: "http://www.pouet.net/prod.php?which=9680", url: "http://www.marshals.cz/dwn/mrs-si03.zip" },
    { date: "2003-03-16 00:00:00", title: "Mon Silence", desc: "mp3 - finished 7/9 at the |Synthesis| 3 demoparty (France 2003).<br>msx: |breakthru|", thumb: "music02.png", url: "ftp://ftp.scene.org/pub/parties/2003/synthesis03/mp3/synthesis_breakthru_music_mp3.zip" },
    { date: "2003-07-06 00:00:00", title: "In Us We Trust", desc: "demo - finished 8/12 at the |Symphony| 3 demoparty (Poland 2003).<br>code: |woid|<br>gfx+dsg: |zone|<br>msx: |nula|<br>demopaja: |memon| / |moppi|", thumb: "iuwt.png", link: "http://www.pouet.net/prod.php?which=10192", url: "ftp://scene.org/pub/parties/2003/symphony03/demo/mrs-iuwt.zip" },
    { date: "2003-07-27 00:00:00", title: "Arabian Newspaper", desc: "module - finished 3/6 at the |Syndeecate| 3 demoparty (Czech Republic 2003).<br>msx: |nula|", thumb: "music01.png", url: "http://www.marshals.cz/dwn/arabian-newspaper.zip" },
    { date: "2003-07-27 00:00:00", title: "maNita", desc: "pixel picture - finished 2/3 at the |Syndeecate| 3 demoparty (Czech Republic 2003).<br>gfx: |zone|", thumb: "picture04.png", url: "http://www.marshals.cz/dwn/manita.zip" },
    { date: "2003-07-27 00:00:00", title: "icebergz", desc: "raytrace picture - finished 4/5 at the |Syndeecate| 3 demoparty (Czech Republic 2003).<br>gfx: |zone|", thumb: "picture05.png", url: "http://www.marshals.cz/dwn/icebergz.zip" },
    { date: "2003-07-27 00:00:00", title: "Bruqe", desc: "64kb intro - finished 4/5 at the |Syndeecate| 3 demoparty (Czech Republic 2003).<br>code: |jezeq|<br>msx: |nula|", thumb: "bruqe.png", link: "http://www.pouet.net/prod.php?which=10416", url: "http://www.marshals.cz/dwn/mrs-bruqe.zip" },
    { date: "2003-07-27 00:00:00", title: "Gruel", desc: "demo - finished 6/7 at the |Syndeecate| 3 demoparty (Czech Republic 2003).<br>code: |woid|<br>gfx+dsg: |nula| + |robotriot| + |domotor|<br>msx: |nula|<br>demopaja: |memon| / |moppi|", thumb: "gruel.png", link: "http://www.pouet.net/prod.php?which=10417", url: "http://www.marshals.cz/dwn/mrs-gruel.zip" },
    { date: "2003-07-27 00:00:00", title: "Superacidity", desc: "demo - finished 2/7 at the |Syndeecate| 3 demoparty (Czech Republic 2003).<br>code: |woid|<br>gfx+dsg: |raist| + |ace| + |woid|<br>msx: |gianabros|<br>demopaja: |memon| / |moppi|", thumb: "supaacid.png", link: "http://www.pouet.net/prod.php?which=10418", url: "http://www.marshals.cz/dwn/mrs-superacidity.zip" },
    { date: "2003-07-31 01:31:29", title: "Marshals crew", desc: "some of Marshals visited |Syndeecate| 3 demoparty. here is our group photo. we hope our french section will be presented together soon.", thumb: "mrs@sndc2003.png", link: "http://www.marshals.cz/pub/mrs@sndc2003.jpg" },
    { date: "2003-08-10 00:00:00", title: "Shaolin Lady", desc: "freestyle graphics - finished 19/25 at the |Ass| 03 demoparty (Finland 2003).<br>gfx: |ace|", thumb: "picture01.png", url: "http://www.marshals.cz/dwn/shaolinlady.zip" },
    { date: "2003-08-10 16:42:38", title: "Therapydottwo", desc: "demo - disqualified at the |Ass| 03 demoparty (Finland 2003).<br>code: |woid|<br>gfx+dsg: |raist|<br>msx: |raist|<br>demopaja: |memon| / |moppi|", thumb: "therapy2.png", link: "http://www.pouet.net/prod.php?which=10568", url: "http://www.marshals.cz/dwn/mrs-therapydottwo.zip" },
    { date: "2003-08-10 17:07:48", title: "run! yellow,run!", desc: "3d picture - disqualified at the |Ass| 03 demoparty (Finland 2003).<br>gfx: |zone|", thumb: "picture03.png", url: "http://www.marshals.cz/dwn/runyellowrun.zip" },
    { date: "2003-12-18 00:00:00", title: "No Santa Porn -amiga-", desc: "intro - finished 2/4 at the |xmas| 2003 online democompetition (Australia 2003).<br>objects code: |zone|<br> gfx: |fob| + |zone|<br>msx: |nula|<br>RSI demomaker v2.0: f.schroecker + s.sommer", thumb: "nsp.png", link: "http://www.pouet.net/prod.php?which=11212", url: "http://www.marshals.cz/dwn/mrs-nsp.zip" },
    { date: "2004-02-08 00:00:00", title: "Marast demoparty 2004", desc: "we introduce our own brand new demoparty called |marast| (Czech Republic 2004).", thumb: "marast.png", link: "http://marast.marshals.cz" },
    { date: "2004-02-22 20:33:14", title: "Fashionvictim", desc: "newmedia 2d picture - finished 4/5 at the |Synthesis| 4 demoparty (France 2004).<br>gfx: |zone|", thumb: "picture04.png", url: "http://www.marshals.cz/dwn/fashionvictim.zip" },
    { date: "2004-02-22 20:35:39", title: "Arbre22", desc: "raytrace picture - finished 1/3 at the |Synthesis| 4 demoparty (France 2004).<br>gfx: |zone|", thumb: "picture02.png", url: "http://www.marshals.cz/dwn/arbre.zip" },
    { date: "2004-02-22 20:46:08", title: "Neon7", desc: "demo - finished 4/8 at the |Synthesis| 4 demoparty (France 2004).<br>code: |woid|<br>gfx+dsg: |isobel|<br>msx: |celsius|<br>demopaja: |memon| / |moppi|", thumb: "neon7.png", link: "http://www.pouet.net/prod.php?which=11632", url: "http://www.marshals.cz/dwn/mrs-neon7.zip" },
    { date: "2004-03-09 00:00:00", title: "Marast invitation", desc: "intro - invitation for the |marast| demoparty (Czech Republic 2004).<br>code: |jezeq|<br>msx: |nula|", thumb: "mr04.png", link: "http://www.pouet.net/prod.php?which=11719", url: "http://www.marshals.cz/dwn/mrs-marast.zip" },
    { date: "2004-04-18 00:00:00", title: "Ajdranktumaclastnajt", desc: "freestyle picture - finished 1/5 at the |marast| 04 demoparty (Czech Republic 2004).<br>gfx: |game over|", thumb: "picture05.png", url: "http://www.marshals.cz/dwn/ajdranktumaclastnajt.zip" },
    { date: "2004-04-18 00:00:00", title: "Oops", desc: "raytraced picture - finished 2/3 at the |marast| 04 demoparty (Czech Republic 2004).<br>gfx: |yannus stark|", thumb: "picture01.png", url: "http://www.marshals.cz/dwn/oops.zip" },
    { date: "2004-04-18 00:00:00", title: "Wrong Number", desc: "raytraced picture - finished 1/3 at the |marast| 04 demoparty (Czech Republic 2004).<br>gfx: |domotor|", thumb: "picture02.png", url: "http://www.marshals.cz/dwn/wrong_number.zip" },
    { date: "2004-04-18 00:00:00", title: "Drown", desc: "pixeled picture - finished 2/2 at the |marast| 04 demoparty (Czech Republic 2004).<br>gfx: |fob|", thumb: "picture03.png", url: "http://www.marshals.cz/dwn/drown.zip" },
    { date: "2004-04-18 00:00:00", title: "She", desc: "pixeled picture - finished 1/2 at the |marast| 04 demoparty (Czech Republic 2004).<br>gfx: |game over|", thumb: "picture04.png", url: "http://www.marshals.cz/dwn/she.zip" },
    { date: "2004-04-18 00:00:00", title: "Newlife", desc: "freestyle music - finished 5/10 at the |marast| 04 demoparty (Czech Republic 2004).<br>msx: |breakthru|", thumb: "music02.png", url: "http://www.marshals.cz/dwn/newlife.zip" },
    { date: "2004-04-18 00:00:00", title: "Ja Mam Hlad", desc: "tracked music - finished 1/6 at the |marast| 04 demoparty (Czech Republic 2004).<br>msx: |santik|", thumb: "music03.png", url: "http://www.marshals.cz/dwn/ja_mam_hlad.zip" },
    { date: "2004-04-18 00:00:00", title: "Allinnium", desc: "demo - finished 4/10 at the |marast| 04 demoparty (Czech Republic 2004).<br>code: |woid|<br>gfx+dsg: |zone|<br>msx: |santik|<br>demopaja: |memon| / |moppi|", thumb: "allinn.png", link: "http://www.pouet.net/prod.php?which=12121", url: "http://www.marshals.cz/dwn/mrs-allinnium.zip" },
    { date: "2004-04-18 00:00:00", title: "My Own Monoscope", desc: "demo - finished 2/10 at the |marast| 04 demoparty (Czech Republic 2004).<br>code: |woid|<br>gfx+dsg: |nula| + |domotor| + |raist|<br>msx: |nula|<br>demopaja: |memon| / |moppi|", thumb: "monosc.png", link: "http://www.pouet.net/prod.php?which=12122", url: "http://www.marshals.cz/dwn/mrs-monoscope.zip" },
    { date: "2004-04-18 00:00:00", youtube: "BVhpigkb0uI", title: "Meteor", desc: "demo - finished 1/10 at the |marast| 04 demoparty (Czech Republic 2004).<br>code: |woid| + |jezeq|<br>gfx+dsg: |raist| + |ace|<br>msx: |santik|<br>demopaja: |memon| / |moppi|", thumb: "meteor.png", link: "http://www.pouet.net/prod.php?which=12123", url: "http://www.marshals.cz/dwn/mrs-meteor.zip" },
    { date: "2004-08-28 00:00:00", title: "Reorder", desc: "demo - finished 9/10 at the |Evok| 04 demoparty (Germany 2004).<br>code: |woid| + |jezeq|<br>gfx+dsg: |raist| + |carlos|<br>\nmsx: |nula|<br>demopaja: |memon| / |moppi|", thumb: "reor.png", link: "http://www.pouet.net/prod.php?which=13279", url: "http://www.marshals.cz/dwn/mrs-reorder.zip" },
    { date: "2004-11-24 00:00:00", title: "Therapy3", desc: "demo - unreleased on any party (Czech Republic 2004).<br>code: |woid|<br>gfx+dsg: |raist|<br>\nmsx: |raist|<br>demopaja: |memon| / |moppi|", thumb: "t3.png", link: "http://www.pouet.net/prod.php?which=14456", url: "http://www.marshals.cz/dwn/mrs-t3.zip" },
    { date: "2004-12-31 00:00:00", title: "Pf05", desc: "demo - unreleased on any party (Czech Republic 2004).<br>code: |woid|<br>gfx+dsg: |raist| + |dusty|<br>\nmsx: |nula|<br>demopaja: |memon| / |moppi|", thumb: "pf05.png", link: "http://www.pouet.net/prod.php?which=15126", url: "http://www.marshals.cz/dwn/mrs-pf05.zip" },
    { date: "2005-03-07 00:00:00", title: "Marast05 Invitation", desc: "demo - invitation for the |marast| demoparty (Czech Republic 2005).<br>\ncode: |woid|<br>gfx+dsg: |raist|<br>msx+voice: |nula|<br>demopaja: |memon| / |moppi|", thumb: "m05inv.png", link: "http://www.pouet.net/prod.php?which=16138", url: "http://www.marshals.cz/dwn/mrs-marast05inv.zip" },
    { date: "2005-04-09 00:00:00", title: "Nature", desc: "freestyle picture - finished 3/5 at the |marast| 05 demoparty (Czech Republic 2005).<br>gfx: |domotor|", thumb: "picture01.png", url: "http://www.marshals.cz/dwn/nature.zip" },
    { date: "2005-04-09 00:00:00", title: "Lowmanworld", desc: "raytrace picture - finished 7/7 at the |marast| 05 demoparty (Czech Republic 2005).<br>gfx: |ace|", thumb: "picture02.png", url: "http://www.marshals.cz/dwn/lowmanworld.zip" },
    { date: "2005-04-09 00:00:00", title: "Cocci", desc: "raytrace picture - finished 6/7 at the |marast| 05 demoparty (Czech Republic 2005).<br>gfx: |zone|", thumb: "picture03.png", url: "http://www.marshals.cz/dwn/cocci.zip" },
    { date: "2005-04-09 00:00:00", title: "Provoule", desc: "pixeled picture - finished 9/11 at the |marast| 05 demoparty (Czech Republic 2005).<br>gfx: |domotor|", thumb: "picture04.png", url: "http://www.marshals.cz/dwn/provoule.zip" },
    { date: "2005-04-09 00:00:00", title: "Kiss", desc: "pixeled picture - finished 8/11 at the |marast| 05 demoparty (Czech Republic 2005).<br>gfx: |fob|", thumb: "picture05.png", url: "http://www.marshals.cz/dwn/kiss.zip" },
    { date: "2005-04-09 00:00:00", title: "Ambivalence", desc: "demo - finished 1/4 at the |marast| 05 demoparty (Czech Republic 2005).<br>code: |woid|<br>gfx+dsg: |domotor| + |raist| + |nula|<br>msx: |nula|<br>demopaja: |memon| / |moppi|", thumb: "ambiv.png", link: "http://www.pouet.net/prod.php?which=16568", url: "http://www.marshals.cz/dwn/mrs-ambivalence.zip" },
    { date: "2005-08-20 00:00:00", youtube: "hTtgAiGJSdk", title: "Neperliva", desc: "demo - finished 4/6 at the |buenzli| 14 demoparty (Switzerland 2005).<br>dsg: |zone|<br>gfx: |zone|+|raist|<br>code: |woid|<br>msx: |isobel|<br>demopaja: |memon| / |moppi|", thumb: "neperliva.png", link: "http://www.pouet.net/prod.php?which=18657", url: "http://www.marshals.cz/dwn/mrs-nplv.zip" },
    { date: "2005-08-20 00:00:00", youtube: "NKgDHhfn_L4", title: "Welcome to 4sceners.de", desc: "demo - finished 1/6 at the |buenzli| 14 demoparty (Switzerland 2005).<br>gfx+dsg: |raist|<br>code : |jezeq|+|raist|+|stv|+|woid|<br>msx: |merregnon studios|<br>demopaja: |memon| / |moppi|", thumb: "4scene.png", link: "http://www.pouet.net/prod.php?which=18629", url: "http://www.marshals.cz/dwn/mrsc-w24s.zip" },
    { date: "2005-12-28 11:54:21", title: "In the middle of the monster", desc: "demo - finished 10/12 at the |TuM| demoparty<br>\ngfx+dsg: |domotor|<br>\ngfx: |raist|<br>\ncode: |woid|<br>\nmsx: |nula|<br>\ndemopaja: |memon| / |moppi|", thumb: "monster.png", link: "http://www.pouet.net/prod.php?which=20990", url: "http://www.marshals.cz/dwn/mrs-monster.zip" },
    { date: "2006-08-08 12:00:00", title: "Unofficial Buenzli#15 Invitation", desc: "Demo was made just for fun & for friends<br>\ngfx+dsg: |raist|<br>\nadd.gfx: |ace|<br>\ncode: |woid|<br>\nmsx: |nula|,|dusty|<br>\ndemopaja: |memon| / |moppi|", thumb: "b15inv.png", link: "http://www.pouet.net/prod.php?which=25814", url: "http://www.marshals.cz/dwn/mrs-b15inv.zip" },
    { date: "2006-08-19 23:00:00", title: "Zagroth", desc: "gfx+dsg: |domotor|<br>\nadd.gfx: |raist|,|ace|,|foggy|<br>\ncode: |woid|<br>\nmsx: |santik|<br>\ndemopaja: |memon| / |moppi|", thumb: "zagroth.png", link: "http://www.pouet.net/prod.php?which=25952", url: "http://www.marshals.cz/dwn/mrs-zagroth.zip" },
    { date: "2006-11-19 03:00:00", title: "Noisedisk", desc: "gfx+code: |raist|<br>\nmsx: |nula|,|raist|,gameover,carlos<br>", thumb: "noisedisc.png", url: "http://www.marshals.cz/dwn/mrs-noisedisk.zip" }
]
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Marshals Demogroup</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="css/print.css" type="text/css" media="print"> 
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script src="js/jquery.tools.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header span-12 last">
                <img class="logo" src="img/logo.jpg" width="496">
            </div>
            <div class="intro span-12 last">
                <div class="tabs"> 
                    <span class="marshals">Marshals</span> are computer <a href="#friends">friends</a> having fun making <a href="#demos">demos</a>, <a href="#music">music</a> and <a href="#graphics">graphics</a>
                </div> 
                <div class="clear"></div>
                <div class="panes"> 
                    <div>
                        <!-- friends -->
                        {% for friend in page.friends %}
                            <div class="friend" title="{{friend.name}}">
                                <span class="nick"{% if friend.avatar %} style="background-image:url('{{friend.avatar}}')"{% endif %}>{{friend.nick}}</span>
                                <span class="role">{{friend.role}}</span>
                                <div class="links">
                                    {% if friend.url %}
                                    <span class="home">
                                        <a href="{{friend.url}}">home</a>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <!-- demos -->
                        <div class="video-player">
                            <object width="496" height="391">
                                <param name="movie" value="http://www.youtube.com/v/NKgDHhfn_L4&hl=en_US&fs=1&"></param>
                                <param name="allowFullScreen" value="true"></param>
                                <param name="allowscriptaccess" value="always"></param>
                                <embed src="http://www.youtube.com/v/NKgDHhfn_L4&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="496" height="391">
                                </embed>
                            </object>
                        </div>

                        {% for product in page.products reversed %}
                            {% unless product.thumb contains 'music' or product.thumb contains 'picture' or product.thumb contains 'other' %}
                                <div class="demo {{product.thumb | replace:'.png':''}}{% if product.youtube %} playable{% endif %}" {% if product.youtube %}video="{{product.youtube}}"{% endif %}>
                                    <img class="thumb" src="img/thumbs/{{product.thumb}}" width="50" height="40">
                                    {% if product.youtube %}
                                        <img class="thumb-overlay-youtube" src="img/play-overlay.png" width="50" height="40">
                                    {% else %}
                                        <img class="thumb-overlay-none" width="50" height="40">
                                    {% endif %}
                                </div>
                                <div class="tooltip">
                                    <div class="tooltip-inner">
                                        <div class="title">{{product.title}}</div> 
                                        <div class="date">{{product.date| date: "%b %Y" }}</div> 
                                        <div class="links">
                                            {% if product.youtube %}
                                            <span class="play">
                                                <a href="#" onclick="$(this).parents('.tooltip').prev('.demo').trigger('click'); return false;">Play</a>
                                            </span>
                                            {% endif %}
                                            {% if product.youtube %}
                                                {% if product.url or product.link %}
                                                    &nbsp;|&nbsp;
                                                {% endif %}
                                            {% endif %}
                                            {% if product.url %}
                                            <span class="download">
                                                <a href="{{product.url}}">Download</a>
                                            </span>
                                            {% endif %}
                                            {% if product.link %}
                                                {% if product.url %}
                                                    &nbsp;|&nbsp;
                                                {% endif %}
                                            {% endif %}
                                            {% if product.link %}
                                            <span class="pouet">
                                                <a href="{{product.link}}">More</a>
                                            </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endunless %}
                        {% endfor %}
                    </div> 
                    <div>
                        <!-- music -->
                        {% for product in page.products reversed %}
                            {% if product.thumb contains 'music' %}
                                <div class="music">
                                    <span class="title">{{product.title}}</span>
                                    <span class="date">{{product.date| date: "%b %Y" }}</span>
                                    <div class="links">
                                        {% if product.url %}
                                        <span class="download">
                                            <a href="{{product.url}}">download</a>
                                        </span>
                                        {% endif %}
                                        {% if product.link %}
                                            {% if product.url %}
                                                &nbsp;|&nbsp;
                                            {% endif %}
                                        {% endif %}
                                        {% if product.link %}
                                        <span class="pouet">
                                            <a href="{{product.link}}">more</a>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div> 
                    <div>
                        <!-- graphics -->
                        {% for product in page.products reversed %}
                            {% if product.thumb contains 'picture' %}
                                <div class="graphics">
                                    <span class="title">{{product.title}}</span>
                                    <span class="date">{{product.date| date: "%b %Y" }}</span>
                                    <div class="links">
                                        {% if product.url %}
                                        <span class="download">
                                            <a href="{{product.url}}">download</a>
                                        </span>
                                        {% endif %}
                                        {% if product.link %}
                                            {% if product.url %}
                                                &nbsp;|&nbsp;
                                            {% endif %}
                                        {% endif %}
                                        {% if product.link %}
                                        <span class="pouet">
                                            <a href="{{product.link}}">more</a>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div> 
                </div>                
            </div>
            <div class="footer span-12 last">
                Marshals Demogroup 1998-2006
            </div>
            <div class="spacer span-12 last">
            </div>
        </div>
        <script type="text/javascript" charset="utf-8">
            $(function() {
                // http://stackoverflow.com/questions/689376/how-to-change-the-video-playing-in-youtube-embedded-player
                var play = function(id) {
                    var html  = '';
                    html += '<object width="496" height="391">';
                    html += '<param name="movie" value="http://www.youtube.com/v/'+id+'"></param>';
                    html += '<param name="autoplay" value="1">';
                    html += '<param name="wmode" value="transparent"></param>';
                    html += '<embed src="http://www.youtube.com/v/'+id+'&autoplay=1" type="application/x-shockwave-flash" wmode="transparent" width="496" height="391"></embed>';
                    html += '</object>';
                    return html;
                };

                $(".tabs").tabs(".panes > div", {
                    initialIndex: 1, // initially open "demos" page
                }).history();
                
                $(".demo").tooltip({
                   tip: '.tooltip',  
                   offset: [10, 0], 
                   effect: 'slide',
                   predelay: 100,
                   lazy: true,
                   position: 'bottom center'
                });            
                
                $('.demo.4scene').addClass('selected');
                $('.demo.playable').bind('click', function() {
                    $('.demo.selected').removeClass('selected');
                    var demo = $(this);
                    demo.addClass('selected');
                    
                    $('.video-player').html(play(demo.attr('video')));
                });
            });
        </script>
    </body>
</html>